<h1>Burger-Bliss awaits!</h1>

<h2>Burgers waiting to be devoured!</h2>


  {{#each burgers}}
  <ul>
    {{#unless devoured}}
    {{> burgerparts/burger-block}} 
    {{/unless}}
    </ul>
  {{/each}}


<h2>Burgers which have been devoured. Yum!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
  {{> burgerparts/burger-block }} 
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger, of which, you shall devour in the future. </h2>
<form class="burgerEntry">

  <div class="form-group">
    <label for="burgertext">Burger Name:</label>
    <input type="text" id="burgertext" name="name">
  </div>
  <button type="submit">Prepare the sweet meats for devourment</button>
</form>
