<div>
	<span class="burgerTitle">{{burger_name}}</span>

	<button class="burgerToggler" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}List for future devouring!{{else}}Mark devoured!{{/if}}
	</button>
</div>
